<div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-bold">Áreas</h1>
    <button class="bg-blue-600 text-white px-4 py-2 rounded" (click)="abrirModal()">Crear área</button>
  </div>
  
  <!-- Tabla de áreas -->
  <table class="w-full table-auto border-collapse border border-gray-300">
    <thead>
      <tr>
        <th class="border p-2">ID</th>
        <th class="border p-2">Nombre</th>
        <th class="border p-2" *ngIf="jwtPayload?.role === 'Admin'">Sede</th>
        <th class="border p-2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let area of areas">
        <td class="border p-2">{{ area.areaId }}</td>
        <td class="border p-2">{{ area.nombre }}</td>
        <td class="border p-2" *ngIf="jwtPayload?.role === 'Admin'">{{ area.sede?.ciudad }}</td>
        <td class="border p-2">
          <button class="text-blue-600" (click)="abrirModal(area)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- Modal -->
  <app-area-form
  *ngIf="mostrarModal"
  [area]="areaSeleccionada"
  (cerrar)="cerrarModal()"
  (guardado)="cargarAreas()">
</app-area-form>
