<div class="card shadow-md bg-white rounded-lg p-6">
  <!-- Encabezado -->
  <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-6 gap-4">
    <div>
      <h1 class="text-2xl font-bold text-gray-800">Areas</h1>
    </div>
    <button 
      class="bg-blue-600 hover:bg-blue-700 text-white font-semibold px-5 py-2.5 rounded-md transition"
      (click)="abrirModal()">
      + Crear area
    </button>
  </div>

  <!-- Tabla de documentos -->
  <div class="overflow-x-auto">
    <table class="min-w-full text-sm text-left border border-gray-200 rounded-md overflow-hidden">
      <thead class="bg-gray-100 text-gray-600 uppercase text-xs tracking-wider">
        <tr>
            <th class="px-4 py-3 border-b">ID</th>
            <th class="px-4 py-3 border-b">Nombre</th>
            <th class="px-4 py-3 border-b" *ngIf="jwtPayload?.role === 'Admin'">Sede</th>
            <th class="px-4 py-3 border-b">Acciones</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let area of areas" class="hover:bg-gray-50 transition-colors border-b">
          <td class="px-4 py-3">{{ area.areaId }}</td>
          <td class="px-4 py-3">{{ area.nombre }}</td>
          <td class="px-4 py-3" *ngIf="jwtPayload?.role === 'Admin'">{{ area.sede?.ciudad }}</td>
          <td class="px-4 py-3 text-center">
            <button class="text-blue-600 hover:text-blue-800 font-medium" (click)="abrirModal(area)">✏️ Editar</button>
          </td>
      </tr>

        <tr *ngIf="areas.length === 0">
          <td colspan="6" class="text-center py-6 text-gray-500">
            No hay areas registrados.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

  <!-- Modal -->
  <app-area-form
  *ngIf="mostrarModal"
  [area]="areaSeleccionada"
  (cerrar)="cerrarModal()"
  (guardado)="cargarAreas()">
</app-area-form>