<form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4 max-w-md mx-auto">
    <div>
        <label class="block mb-1">Sede</label>
        <select formControlName="sedeId" (change)="onSedeChange($event)" class="w-full border p-2 rounded">
          <option value="" disabled selected>Seleccione una sede</option>
          <option *ngFor="let sede of sedes" [value]="sede.sedeId">{{ sede.nombre }}</option>
        </select>
      </div>
      
      <div *ngIf="areas.length > 0">
        <label class="block mb-1 mt-3">Área</label>
        <select formControlName="areaId" class="w-full border p-2 rounded" (change)="onAreaChange($event)" >
          <option value="" disabled selected>Seleccione un área</option>
          <option *ngFor="let area of areas" [value]="area.areaId">{{ area.nombre }}</option>
        </select>
      </div>
      
      <div *ngIf="usuarios.length > 0">
        <label class="block mb-1 mt-3">Usuario destino</label>
        <select formControlName="usuarioId" class="w-full border p-2 rounded">
          <option value="" disabled selected>Seleccione un usuario</option>
          <option *ngFor="let u of usuarios" [value]="u.usuarioId">{{ u.nombre }}</option>
        </select>
      </div>
  
    <div>
      <label class="block">Documento</label>
      <input type="file" (change)="onFileChange($event)" class="w-full" />
    </div>
  
    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded" [disabled]="loading">
      {{ loading ? 'Radicando...' : 'Radicar Documento' }}
    </button>
  </form>
  